### ------------------------- Project specific .gitignore ------------------------ ###

*.log
tmp/
files/

# Backend (Python)
test.py

# Database (PostgreSQL)
pgdata/

# IDEs
## Visual Studio Code
.vscode
# Jetbrains
.idea


### ------------------------- Python .gitignore ------------------------ ###

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


### -------------------------- Linux.gitignore ------------------------- ###

*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*
