{% extends 'base.html' %}
{% load static %}

{% block title %}
  DEWS DataHub - Upload an archive
{% endblock %}

{% block content %}
  <section class="jumbotron text-center">
    <div class="container pt-1 pb-1">
      <h1 class="display-4 font-italic text-center">Upload an archive</h1>
      <p class="lead text-muted">
        Here you can upload a satellite data archive file which you downloaded from <a href="https://dataspace.copernicus.eu/browser/">Dataspace Copernicus</a> or <a href="https://earthexplorer.usgs.gov">EarthExplorer</a>.<br />
        The mission, band image paths, coordinates, etc. will automatically be recognized and you will find these info after the upload and processing is done.
      </p>
    </div>
  </section>
  <hr class="light-100" />

  <!-- Upload form -->
  <div class="container mt-5">
    <div class="row">
      <!-- Headline -->
      <h2 class="display-6 text-center">Upload</h2>

      <div class="col-md-4"></div>

      <div class="col-md-4">
        <!-- Upload form -->
        <form action="." method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <!-- Archive upload form -->
          {{ form.as_p }}
          <!-- Upload button -->
          <button type="submit" class="btn btn-outline-success"><i class="fa-solid fa-upload"></i> Upload</button>
        </form>
        <!-- Error message -->
        {% if error %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endif %}
        <!-- Success message -->
        {% if success %}
          <div class="alert alert-success" role="alert">
            <div class="row">{{ success }} <i class="fa-solid fa-check"></i> </div>
            <div class="row">
              <a href="{% url 'overview_view' %}" class="btn btn-success"><i class="fa-solid fa-table-columns"></i> Show overview</a>
            </div>
          </div>
        {% endif %}
      </div>

      <div class="col-md-4"></div>
    </div>
  </div>
{% endblock %}
