{% extends "base.html" %}
{% load static %}
{% block title %}DEWS DataHub - Overview{% endblock %}
{% block content %}
<section class="jumbotron text-center">
   <div class="container pt-1 pb-1">
      <h1 class="display-4 font-italic text-center">Data Overview</h1>
      <p class="lead text-muted">
         Shows all data entries that were created.
      </p>
   </div>
</section>
<hr class="light-100" />

<!-- Add Button -->
<div class="row" style="padding: 10px;">
   <a href="{% url 'sat_data_upload_view' %}" class="btn btn-outline-primary">Add new entry <i class="fa-solid fa-plus"></i></a>
</div>

<!-- Tabs -->
<ul class="nav nav-tabs" id="overviewTabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="satellite-tab" data-bs-toggle="tab" data-bs-target="#satellite" type="button" role="tab" aria-controls="satellite" aria-selected="true">SatData ({{ sat_data_entries_count }}) </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="time-travel-tab" data-bs-toggle="tab" data-bs-target="#time-travel" type="button" role="tab" aria-controls="time-travel" aria-selected="false">TimeTravel ({{ time_travel_entries_count }})</button>
  </li>
</ul>

<!-- Tab content -->
<div class="tab-content" id="overviewTabsContent">

  <!-- SatData: Tab content-->
   <div class="tab-pane fade show active" id="satellite" role="tabpanel" aria-labelledby="satellite-tab">
      <!-- SatData: Search bar and filter -->
      <form method="GET" action="{% url 'overview_view' %}">
         <div class="form-group">
            <label for="nameInput">Name</label>
            <input type="text" class="form-control" name="search" id="nameInput" placeholder="Search SatData by name" value="{{ search_query }}">
         </div>
         <div class="form-group">
            <label for="missionControl">Mission</label>
            <select class="form-control" name="mission" id="missionControl">
            <option value="" {% if not mission_query %}selected{% endif %}>All</option>
            <option value="sentinel-1a" {% if mission_query == 'sentinel-1a' %}selected{% endif %}>Sentinel-1A</option>
            <option value="sentinel-1b" {% if mission_query == 'sentinel-1b' %}selected{% endif %}>Sentinel-1B</option>
            <option value="sentinel-2a" {% if mission_query == 'sentinel-2a' %}selected{% endif %}>Sentinel-2A</option>
            <option value="sentinel-2b" {% if mission_query == 'sentinel-2b' %}selected{% endif %}>Sentinel-2B</option>
            <option value="sentinel-3a" {% if mission_query == 'sentinel-3a' %}selected{% endif %}>Sentinel-3A</option>
            <option value="sentinel-3b" {% if mission_query == 'sentinel-3b' %}selected{% endif %}>Sentinel-3B</option>
            <option value="sentinel-5p" {% if mission_query == 'sentinel-5p' %}selected{% endif %}>Sentinel-5P</option>
            <option value="landsat-1" {% if mission_query == 'landsat-1' %}selected{% endif %}>Landsat-1</option>
            <option value="landsat-2" {% if mission_query == 'landsat-1' %}selected{% endif %}>Landsat-2</option>
            <option value="landsat-3" {% if mission_query == 'landsat-1' %}selected{% endif %}>Landsat-3</option>
            <option value="unknown" {% if mission_query == 'unknown' %}selected{% endif %}>Unknown Mission</option>
            </select>
         </div>
         <div class="form-group">
            <label for="productTypeControl">Product Type</label>
            <select class="form-control" name="product_type" id="productTypeControl">
            <option value="" {% if not prod_type_query %}selected{% endif %}>All</option>
            <option value="grd" {% if prod_type_query == 'grd' %}selected{% endif %}>GRD</option>
            <option value="grd-cog" {% if prod_type_query == 'grd-cog' %}selected{% endif %}>GRD-COG</option>
            <option value="ocn" {% if prod_type_query == 'ocn' %}selected{% endif %}>OCN</option>
            <option value="raw" {% if prod_type_query == 'raw' %}selected{% endif %}>RAW</option>
            <option value="slc" {% if prod_type_query == 'slc' %}selected{% endif %}>SLC</option>
            <option value="unknown" {% if prod_type_query == 'unknown' %}selected{% endif %}>Unknown Product Type</option>
            </select>
         </div>
         <button type="submit" class="btn btn-primary">Search SatData<i class="fa-solid fa-magnifying-glass"></i></button>
      </form>

      <!-- SatData: Show entries -->
<div style="overflow-y: scroll; max-height: 1000px;">
  {% if sat_data_entries %}
  <div class="card-columns">
     {% for sat_data in sat_data_entries %}
     <!-- Display satellite data entry -->
     <a href="{% url 'sat_data_details_view' sat_data.id %}" style="text-decoration: none; color: inherit;">
        <div class="card">
           <div class="card-body">
              <h4 class="card-title"><i class="fa-solid fa-satellite"></i> SatData: '{{ sat_data.name }}' {% if sat_data.processing_done %}{% include "check-circle.svg" %}{% else %}<div class="spinner-border" role="status">
               <span class="sr-only">In progress...</span>
             </div>{% endif %}</h4>
              <p class="card-text">
              <div class="container">
                 <div class="row">
                    <!-- Attributes -->
                    <div class="col">
                       <strong>ID:</strong> {{ sat_data.id }}<br />
                       <strong>Mission:</strong> {{ sat_data.mission|capfirst }}<br />
                       <strong>Product Type:</strong> {{ sat_data.product_type|upper }}<br />
                       <strong>User:</strong> {{ sat_data.user.username|lower }}<br />
                       <strong>Creation Time:</strong> {{ sat_data.creation_time }}<br />                       
                    </div>
                    <!-- Thumbnail -->
                    <div class="col-md-6">
                     {% if sat_data.thumbnail %}
                     <p class="card-text">
                        <img src="{{ sat_data.thumbnail.url }}" alt="Thumbnail {{ sat_data.id }}" class="img-thumbnail" style="width:auto;height:300px;object-fit: contain;" />
                     </p>
                     {% endif %}
                  </div>
                 </div>
              </div>
              </p>
              <!-- Action buttons -->
     <a href="{% url 'sat_data_details_view' sat_data.id %}" class="btn btn-success"><i class="fa-solid fa-circle-info"></i></a>
     <a href="{% url 'sat_data_delete_view' sat_data.id %}" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></a>
     </div>
     </div>
     </a>
     {% endfor %}
  </div>
  {% else %}
  <!-- No SatData objects available-->
  <h2 class="text-center mt-4">No SatData entries... <i class="fa-solid fa-face-sad-tear"></i></h2>
  {% endif %}
</div>

   </div>

   <!-- TimeTravel: Tab content -->
   <div class="tab-pane fade" id="time-travel" role="tabpanel" aria-labelledby="time-travel-tab">
      <!-- TimeTravel: Search bar and filter -->
      <form method="GET" action="{% url 'overview_view' %}">
         <div class="form-group">
            <label for="nameInput">Name</label>
            <input type="text" class="form-control" name="search" id="nameInput" placeholder="Search TimeTravel by name" value="{{ search_query }}">
         </div>
         <div class="form-group">
            <label for="missionControl">Mission</label>
            <select class="form-control" name="mission" id="missionControl">
            <option value="" {% if not mission_query %}selected{% endif %}>All</option>
            <option value="sentinel-1a" {% if mission_query == 'sentinel-1a' %}selected{% endif %}>Sentinel-1A</option>
            <option value="sentinel-1b" {% if mission_query == 'sentinel-1b' %}selected{% endif %}>Sentinel-1B</option>
            <option value="sentinel-2a" {% if mission_query == 'sentinel-2a' %}selected{% endif %}>Sentinel-2A</option>
            <option value="sentinel-2b" {% if mission_query == 'sentinel-2b' %}selected{% endif %}>Sentinel-2B</option>
            <option value="sentinel-3a" {% if mission_query == 'sentinel-3a' %}selected{% endif %}>Sentinel-3A</option>
            <option value="sentinel-3b" {% if mission_query == 'sentinel-3b' %}selected{% endif %}>Sentinel-3B</option>
            <option value="sentinel-5p" {% if mission_query == 'sentinel-5p' %}selected{% endif %}>Sentinel-5P</option>
            <option value="landsat-1" {% if mission_query == 'landsat-1' %}selected{% endif %}>Landsat-1</option>
            <option value="landsat-2" {% if mission_query == 'landsat-1' %}selected{% endif %}>Landsat-2</option>
            <option value="landsat-3" {% if mission_query == 'landsat-1' %}selected{% endif %}>Landsat-3</option>
            <option value="unknown" {% if mission_query == 'unknown' %}selected{% endif %}>Unknown Mission</option>
            </select>
         </div>
         <div class="form-group">
            <label for="productTypeControl">Product Type</label>
            <select class="form-control" name="product_type" id="productTypeControl">
            <option value="" {% if not prod_type_query %}selected{% endif %}>All</option>
            <option value="grd" {% if prod_type_query == 'grd' %}selected{% endif %}>GRD</option>
            <option value="grd-cog" {% if prod_type_query == 'grd-cog' %}selected{% endif %}>GRD-COG</option>
            <option value="ocn" {% if prod_type_query == 'ocn' %}selected{% endif %}>OCN</option>
            <option value="raw" {% if prod_type_query == 'raw' %}selected{% endif %}>RAW</option>
            <option value="slc" {% if prod_type_query == 'slc' %}selected{% endif %}>SLC</option>
            <option value="unknown" {% if prod_type_query == 'unknown' %}selected{% endif %}>Unknown Product Type</option>
            </select>
         </div>
         <button type="submit" class="btn btn-primary">Search <i class="fa-solid fa-magnifying-glass"></i></button>
      </form>

      <!-- TimeTravel: Show entries -->
<div style="overflow-y: scroll; max-height: 1000px;">
  {% if time_travel_entries %}
  <div class="card-columns">
     {% for time_travel in time_travel_entries %}
     <!-- Display satellite data entry -->
     <a href="{% url 'time_travel_details_view' time_travel.id %}" style="text-decoration: none; color: inherit;">
        <div class="card">
           <div class="card-body">
              <h4 class="card-title"><i class="fa-solid fa-images"></i> TimeTravel: '{{ time_travel.name }}'</h4>
              <p class="card-text">
              <div class="container">
                 <div class="row">
                    <!-- Attributes -->
                    <div class="col-md-6">
                       <strong>ID:</strong> {{ time_travel.id }}<br />
                       <strong>Mission:</strong> {{ time_travel.mission|capfirst }}<br />
                       <strong>Product Type:</strong> {{ time_travel.product_type|upper }}<br />
                       <strong>Creation Time:</strong> {{ time_travel.creation_time }}<br />
                    </div>
                    <!-- Thumbnail -->
                    <div class="col-md-6">
                       {% if time_travel.thumbnail %}
                       <p class="card-text">
                          <img src="{{ time_travel.thumbnail.url }}" alt="Thumbnail {{ time_travel.id }}" class="img-thumbnail" style="width:auto;height:300px;object-fit: contain;" />
                       </p>
                       {% endif %}
                    </div>
                 </div>
              </div>
              </p>
              <!-- Action buttons -->
     <a href="{% url 'time_travel_details_view' time_travel.id %}" class="btn btn-success"><i class="fa-solid fa-circle-info"></i></a>
     <a href="{% url 'time_travel_delete_view' time_travel.id %}" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></a>
     </div>
     </div>
     </a>
     {% endfor %}
  </div>
  {% else %}
  <!-- No TimeTravel entries available -->
  <h2 class="text-center mt-4">No TimeTravel entries... <i class="fa-solid fa-face-sad-tear"></i></h2>
  {% endif %}
</div>

   </div>
</div>

<!-- Add Button -->
<div class="row" style="padding: 10px;">
   <a href="{% url 'sat_data_upload_view' %}" class="btn btn-outline-primary">Add new entry <i class="fa-solid fa-plus"></i></a>
</div>
{% endblock %}
