{% load static %}

<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <img src="{% static 'img/logo.png' %}" alt="" style="width: 57%">
                <hr class="light-100">
                <p><a href="tel:+491608187863" class="custom">0160 - 818 78 63</a></p>
                <p><a href="mailto:info@seelenmomente-hpp.de" class="custom">info@seelenmomente-hpp.de</a>
                </p>
                <p><a href="https://www.google.com/maps?ll=53.620483,10.821806&z=15&t=m&hl=de&gl=DE&mapclient=embed&q=Alte+Dorfstra%C3%9Fe+15+23883+Sterley"
                        class="custom">Alte
                    Dorfstraße 15, 23883 Sterley</a></p>
            </div>
            <div class="col-md-2">
                <hr class="light-100">
                <p>Favicon by <a href="https://www.flaticon.com/free-icons/satellite" title="satellite icons">Freepik - Flaticon</a></p>
                <p><a href="/datenschutz" class="custom">Datenschutz</a></p>
                <p><a href="/impressum" class="custom">Impressum</a></p>
            </div>
            <div class="col-md-4"></div>
            <hr class="light-100">


            <div class="col-md-4"></div>
            <div class="col-md-2">
                <img class="mobile-img" src="{% static "img/vfp.png" %}" width="65%">
            </div>
            <div class="col-md-2">
                <h3>Mitgliedschaften</h3>
                <p>Ich bin Mitglied im Verband freier Psychotherapeuten, Heilpraktiker für Psychotherapie und
                    Psychologischer Berater e.V.</p>
            </div>
            <div class="col-md-4"></div>

        </div>
        <hr class="light-100">

    </div>
</footer>