{% load static %}

{% url "dashboard_view" as dashboard %}
{% url "overview_view" as overview %}

<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #fff">
    <div class="container-fluid">
        <a class="navbar-brand" href=" {{ dashboard }}"><img src="{% static "img/dews-logo.png" %}" width="20%"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                style="width:100%"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <!-- Dashboard -->
                <li class="nav-item li-custom">
                    <a class="nav-link text-nowrap {% if request.path == dashboard %} active {% endif %} navbar-text" {% if request.path == dashboard %} aria-current="page" {% endif %} href="{{ dashboard }}">Dashboard</a>
                </li>

                <!-- SatData -->
                <li class="nav-item dropdown li-custom">
                    <a class="nav-link dropdown-toggle {% if request.path == overview %} active {% endif %} navbar-text" {% if request.path == overview %} aria-current="page" {% endif %} href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Sat Data</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url "overview_view" %}">Overview</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url "sat_data_create_view" %}">Create</a></li>
                    </ul>
                </li>


                <!-- Admin / Logout -->
                {% if request.user.is_authenticated %}
                    <li>
                        <div class="btn-group admin-buttons" role="group" aria-label="Admin-button-group">
                            {% if request.user.is_superuser %}
                            <a href="{% url "admin:index" %}" class="btn btn-outline-secondary">Admin</a>
                            {% endif %}
                            <a href="{% url "logout_view" %}" class="btn btn-outline-secondary">Logout</a>
                        </div>
                    </li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>